body {
    background: #fffee1;
    color: #000;
    padding: 25px;
    font-family: 'Arial', sans-serif;
  }
.nav-buttons li {
    display: inline-block;
    margin: 0 auto;
    padding: 40px;
    color:cornflowerblue;
}  