* {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    position: relative;
    background: #fffee1;
    color: #000;
    padding: 25px;
    font-family: 'Arial', sans-serif;
  }
.navbar {
  position: fixed;
  top: 0;
  z-index: 10;
  background:burlywood;
}
.navbar li {
    display: inline-block;
    position:relative;
    margin: 0 auto;
    padding: 40px;
    color:cornflowerblue;
    text-align: center;
}  
.navbar a {
  text-decoration: none;
}
img {
  width:50%;
  filter: drop-shadow(1px 1px 1px #000)
}
.projects {
  padding: 40px 60px;
}